html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  background-color: white;
  color: white;
}

body {
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}
div.heading {
  background-color: rgb(50, 111, 180);
}
div.about {
  background-color: white;
}
div.experience {
  background-color: rgb(50, 111, 180);
}
div.why {
  background-color: white;
}

.heading {
  /*color: white;*/
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.about {
  color: blue;
}
.experience {
  color: white;
}
.why {
  color: yellow;
}

p.about {
  color: pink;
}
p.experience {
  color: gold;
}

p.why {
  color: purple;
}

li {
  display: inline;
}
