html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}

body {
  margin: 0;
}
/*this section overrides margins that might apply to h1s, h2s and p tags. I also justified the text. I have changed the font weight of the h1s and h2s*/
h1,
h2,
p {
  margin: 0;
  text-align: justify;
}
h1,
h2 {
  font-weight: bold;
}
/*This section covers Title (with my name, Navigation Bar, and each menu item*/
.titleAndMenu {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}

.heading {
  color: black;
}
.navigationBar {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 15px;
}

/*This section covers the main details of the website. I intend to put each sub-section under a heading. If need be I will group things together later*/

/*.mainDetails {
   display: flex;
}*/

.about {
  background-color: rgb(50, 111, 180);
}
.aboutDetails {
  color: rgb(255, 255, 255);
  display: flex;
  flex: 0 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
}

.why {
  background-color: rgb(156, 192, 233);
}

.title {
  /*color: white;*/
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
.aboutTitle {
  color: blue;
}

.whyTitle {
  color: blue;
}
/*
.github {
  color: black;
}

.freecodecamp {
  color: black;
}
.projectLinks {
  color: rgb(218, 22, 22);
}
*/
p.whyDetails {
  color: rgb(255, 255, 255);
}
/* removed bullet points */
ul {
  list-style: none;
}

.thePerson,
.theClergyman,
.theTeacher,
.theStudent,
.theSinger {
  border: 2px solid white;
}
/* LVHA */
a:link {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: blueviolet;
}

a:hover {
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline red;
}
a:active {
  background-color: yellowgreen;
}
